		body {
			background-image: url(bg.png);
			font-family: Tahoma;
		}

		#frame {
			background-color: rgba(255,200,200,0.3);
			width: 1000px;
			margin: 0 auto;
			padding: 10px;
		}

		header nav ul {
			list-style-type: none;
			background-color: rgba(255,255,200,0.3);
			padding: 10px;
		}

		#header {
			text-align: center;
		}
		
		#content {
			display: flex;
		}

		nav li {
			display: inline;
		}

		nav li a {
			padding: 5px;
			text-decoration: none;
			color: black;
			font-weight: bold;
		}

		main{
			border: 1px black solid;
			background-color: rgba(200,200,255,0.3);
			flex-basis: 670px;
			padding: 10px;
		}

		aside{
			border: 1px black solid;
			background-color: rgba(200,255,200,0.3);
			flex-basis: 290px;
			padding: 10px;
		}

		body article {
			background-color: rgba(200,200,200,0.6);
		}

		header {
		}

		footer {
			background-color: rgba(255,255,200,0.3);
			font-weight: bold;
			text-align: center;
		}
